<header>
      
      <nav>
     <img id="logo1" src="/images/logo.png" alt="logo" >
     
      <button id="InSessionIndexButtons" type="">
          <a href="/" >Volver al Inicio</a>
        </button>
        
      </nav>
    </header>
<div id="form">
  <h2>Registrate</h2>
  <form action="/auth/signup" method="POST">

   <label> Nombre
      <input type="text" name="nombre" placeholder="Escribe tu Nombre" />
    </label>

    <label> Usuario
      <input type="text" name="username" placeholder="Escribe tu Usuario" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Escribe tu E-mail" />
    </label>

    <label> Contraseña
      <input type="password" name="password" placeholder="Escribe tu Contraseña" />
    </label>

    <div> Pais
      <select id="paisSelector" name="nacionalidad"></select>
    </div>

    <div> Genero
      <select name="genero" aria-placeholder="Selecciona tu Genero">
        <option value="mujer">Mujer</option>
        <option value="hombre">Hombre</option>
        <option value="otro">Otro</option>                          
      </select>
    </div>


    <button type="submit">Registrate</button>


    
  
  </form>

 
   
</div>

 {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
  {{/if}}
   
</div>

<script src="/js/paises.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/singUp.css">