 <form action="/auth/signup" method="POST">

   <label> Nombre
      <input type="text" name="nombre" placeholder="Escribe tu Nombre" value={{datos.nombre}} />
    </label>

    <label> Usuario
      <input type="text" name="username" placeholder="Escribe tu Usuario"value={{datos.nomber}} />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="Escribe tu E-mail" />
    </label>

    <label> Contraseña
      <input type="password" name="password" placeholder="Escribe tu Contraseña" />
    </label>

    <div> Pais
      <select id="paisSelector" name="nacionalidad"></select>
    </div>

    <div> Genero
      <select name="genero" aria-placeholder="Selecciona tu Genero">
        <option value="mujer">Mujer</option>
        <option value="hombre">Hombre</option>
        <option value="otro">Otro</option>                          
      </select>
    </div>


    <button type="submit">Registrate</button>


    
  
  </form>
