<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Dream Team</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Wallpoet&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Tourney:wght@900&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <h1>Dream Team</h1>
      <nav>
        <button type="button">
          <a href="/auth/login">Iniciar Sesion</a>
        </button>
        <button type="button">
          <a href="/auth/signup">Registrate</a>
      </nav>
    </header>
    <main>
      <section id="inicio">
        <h2>Bienvenido a Dream Team</h2>
        <p>Únete a una de nuestras ligas y compite con otros aficionados al fútbol para ver quién puede construir el mejor equipo. Elige sabiamente a tus jugadores y mantente al tanto de su rendimiento en partidos reales. ¡El gerente con más puntos al final de la temporada gana!</p>
      </section>
      <section id="ligas">
        <h2>Ligas</h2>
        <p>Escoge una de nuestras ligas:</p>
        <div id="imgDiv">
          <img class="images" src="/images/premierLeague3.webp" alt="premierLeague">
          <img class="images" src="/images/uefa.png" alt="uefa">
          <img class="images" src="/images/laLiga.png" alt="laLiga">
          <img class="images" src="/images/SerieA.png" alt="serieA">
          <img class="images" src="/images/bundesliga.png" alt="bundesliga">
        </div>
      </section>
      <section id="reglas">
        <h2>Reglas</h2>
        <p>Estas son las reglas para nuestras ligas de Dream Team:</p>
        <ol id="ol">
          <li>Cada gerente selecciona un equipo de jugadores reales dentro de un tope salarial.</li>
          <li>Se otorgan puntos basados en el rendimiento real de los jugadores en los partidos.</li>
          <li>El gerente con más puntos al final de la temporada gana la liga.</li>
        </ol>
      </section>
      <section id="contacto">
        <h2>Contacto</h2>
        <p>Si tienes alguna pregunta, envíanos un correo electrónico a <a href="mailto:soporte@dreamteam.com">soporte@dreamteam.com</a>.</p>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Dream Team</p>
    </footer>
  </body>
</html>