<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

{{#if userInSession}}
  <h2>Tus Predicciones</h2>
  
    <a href="/"><button>Home</button></a>
    <button type="button">
              <a href="/user/userProfile">Profile</a>
     </button>
    <button type="button">
              <a href="/auth/logout">Desconectarse</a>
     </button>
{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}
    
</body>
</html>