.fixture-box {
    background-color: #064789;
    border: 7px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Tourney', cursive; color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }

  

  .fixture-box p:first-of-type {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .fixture-box p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .fixture-box img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 10px;
  }

  
  .fixture-box p:last-of-type {
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Tourney', cursive;
    justify-content: center;
    margin-top: 15px;
  }
  
  .NavpredictionButtons{
    margin-left: 1100px;
  }

  h2{
    text-align: center;
    color: white;
  }

  .card{
    padding: 25px;
    margin-bottom: 15px;
    
    
  }

  .predictions{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .inputText{
    width: 25px;
    height: 25px;

  }

  .button23{
padding-top: 10px;  }