body{
    background-image: url(/images/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #064789;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo1 {
    height: 50px;
  }
  
  h2{
    text-align: center;
    color: white;
  }
  
  header h1 {
    margin: 0;
    font-family: 'Wallpoet', cursive;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
  
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    color: #FFFFFF;
    margin-right: 20px;
    font-family: 'Wallpoet', cursive;
  }
  
  header nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Tourney', cursive;
  }

.profile-section {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Bakbak One', cursive;
    text-align: center;
    color: white;
    background-color: transparent;
    background-color: #064789;
    font-family: 'Wallpoet', cursive;
    margin-left: 30px;
  }
  .profileGeneral{
    display: flex;
  }
  .prediccionProfile{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 1200px;
    height: 740px;
    max-height: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Bakbak One', cursive;
    text-align: center;
    color: white;
    background-color: transparent;
    background-color: #064789;
    font-family: 'Wallpoet', cursive;
    align-items: center;
    margin-right: 70px;
  }

  .prediccionProfile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 10px;
  }

  /* Style the header */
  .profile-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  /* Style the profile information */
  .profile-section p {
    font-size: 26px; color: white;
    margin-bottom: 10px;
    background-size: 10px;
    justify-content: center;

  }

  /* Style the profile picture */
  .profile-section img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
  }

  #profileNavButtons{
    margin-left: 1120px;
    display: flex;
    align-items: center;
    
  }

  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    text-align: left;
    background-color: #4CAF50;
    font-size: 16px;
    font-family: 'Tourney', cursive;
  }

  .prediccion card{
    padding: 25px;
    margin-bottom: 15px;
    border: 2px solid white;
    
  }

  .prediccionProfile p:first-of-type {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .prediccionProfile p:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
  }