


#form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Tourney', cursive;
    text-align: center;
    color: white;
    background-color: #064789;
    margin-top: 6%;
    margin-right: 1100px;
    
  }
  
  #form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  #form button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  #form .error {
    color: #f00;
    margin-top: 10px;
    font-size: 16px;
  }

  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-family: 'Tourney', cursive;
  }