body {
  background-image: url(/images/back1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #064789;
  color: #FFFFFF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-family: 'Wallpoet', cursive;
}

header nav {
  display: flex;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  color: #FFFFFF;
  margin-right: 20px;
  font-family: 'Wallpoet', cursive;
}

header nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Tourney', cursive;
}

main {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

main h2 {
  color: #FFFFFF;
  margin-top: 40px;
  font-family: 'Wallpoet', cursive;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-family: 'Tourney', cursive;
  margin-right: 1000px;
}

main a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Tourney', cursive;
}

footer {
  background-color: #064789;
  color: #FFFFFF;
  padding: 0px;
  text-align: center;
}

footer p {
  margin: 0;
  font-family: 'Wallpoet', cursive;
  color: #FFFFFF;
}

button {
  background-color: #A5BE00;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #679436;
  color: white;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

#imgDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1000px;
  
}

.images{  
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  margin: 2px 0;
  border-radius: 25%;
  }

#ol{
    font-family: 'Tourney', cursive;
    color: #FFFFFF;
  }