body {
  background-image: url(/images/back1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Tourney', cursive;
  margin: 0;
  padding: 0;
}

header {
  background-color: #064789;
  color: #FFFFFF;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


header h1 {
  margin: 0;
  font-family: 'Wallpoet', cursive;
}

header nav {
  display: flex;
  justify-content: space-between;

}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav li {
  color: #FFFFFF;
  margin-right: 20px;
  font-family: 'Wallpoet', cursive;
}

header nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Tourney', cursive;
}
#InSessionIndexButtons{
  margin-left: 1200px;
}

main {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
}

main h2 {
  color: #FFFFFF;
  margin-top: 40px;
  font-family: 'Wallpoet', cursive;
}

main p {
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 40px;
  font-family: 'Tourney', cursive;
  margin-right: 1000px;
}

main a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Tourney', cursive;
}

footer {
  background-color: #064789;
  color: #FFFFFF;
  padding: 0px;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 1950px;
}


footer p {
  margin: 0;
  font-family: 'Wallpoet', cursive;
  color: #FFFFFF;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  text-align: left;
  background-color: #4CAF50;
  font-size: 16px;
  font-family: 'Tourney', cursive;
}

button:hover {
  background-color: #679436;
  color: white;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

#imgDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 1000px;
}

.images{  
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  margin: 2px 0;
  border-radius: 25%;
  }

#ol{
    font-family: 'Tourney', cursive;
    color: #FFFFFF;
  }
 
  
/*logo*/
  #logo1 {
    height: 50px;
  }
  /*login form*/
   #loginForm {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  label {
    margin-right: 10px;
    text-align: left;
    font-size: 14px;
  }
  
  #emailInputIndex {
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-left: 1000px;
  }

  input[type="password"] {
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
  }
  
  


  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Tourney', cursive;
  }
  
  .error {
    display: flex;
    color: red;
    margin-left: 800px;
    font-size: 14px;
  }